@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 100%;
  font-family: ;
  color: ;

}

main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 34% 27% 38%;
}

section {
  width: 100%;
  height: 97vh;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.monky_container {
  overflow: hidden;
}

.monky_general {
  width: 250%;
  height: 257%;
  position: absolute;
  left: -4%;
  top: -21%;
}

.container_about {
  position: absolute;
  top: 32vh;
  left: -5vw;
}

.game_desription {
  font-family: 'Montserrat';
  text-align: left;
  margin: auto 5%;
}

.game_desription > p {
  font-size: 1.7vh;
  line-height: 3.3vh;
}

.game_version {
  font-size: 1.2vh;
}

.small_txt {
  font-size: 1.5vh;
}

.name_txt {
  font-size: 1.9vh;
  line-height: 2.3vh;
}

.foto_container {
  width: 100%;
  text-align: center;
}

.foto_container > img {
  width: 67%;
}

.logo_container {
  position: relative;
  width: 90%;
  top: 7vh;
  left: -5vw;
}

.logo_container > svg {
  position: absolute;
  width: 85%;
  z-index: 3;
  left: -11vw;
}

.video_container {
  width: 100%;
  position: relative;
  top: 35vh;
}

.video_container > video {
  width: 100%;
  position: absolute;
}

.play_game {
  position: relative;
  width: 100%;
}

.play_game > button {
  position: absolute;
  width: 15vw;
  height: 5vh;
  background-color: #29ABE2;
  border: none;
  top: 90vh;
  left: 13vw;
}

.play_game > button > a {
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat';
  font-size: 1.9vh;
}
